langchain
langchain-community
langchain-huggingface
langchain-chroma
langchain-groq
sentence-transformers
chromadb
fastapi
uvicorn
python-multipart
streamlit
pydantic
python-dotenv
torch
transformers
requests
unstructured