python-dotenv
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-groq
gitingest
chromadb
sentence-transformers
transformers
fastapi
uvicorn
streamlit
requests
pydantic
python-dotenv
nest_asyncio
